#first_name {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-size-adjust: 100%;
    width: 160px;
}

#fname {
    width: 160px;
}

#btnsub {
    width: 200px;
    font-size: 20;
}
#form-group {
    padding: 10;
}

/*about page*/
