<!-- <input type="button" value="+1" ng-click="plushNumber()"/>
<button ng-click="minusNumber()">-1</button>
<button ng-click="changestepNumber(0)">Set Number</button> -->
<div>

    <div id="page-wrapper">
        <span>Danh sách thể loại:</span>
        <hr>
        <div class="row">
            <div class="col-md-2">ID</div>
            <div class="col-md-2">NAME</div>
            <div class="col-md-2">Create_at</div>
            <div class="col-md-2">Update_at</div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">1</div>
            <div class="col-md-2">Khoa học</div>
            <div class="col-md-2">2017/08/29</div>
            <div class="col-md-2"></div>
            <div class="col-md-2"><a ui-sref="#">DELETE</a></div>
            <div class="col-md-2"><a ui-sref="#">EDIT</a></div>
        </div>
    </div>
</div>