<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-3">
            <div>
                <div class="">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <!-- /input-group -->
                        </li>

                        <li>

                            <a id="titlemenu" href=""><i class="fa fa-bar-chart-o fa-fw"></i><label id="textmenu">The
                                    Loai &#9749</label> <span class="fa arrow"></span></a>
                        <li ng-repeat="theloai in theloais">
                            <a href="">{{theloai.Ten}}</a>


                        </li>


                        <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>

                <hr>
            </div>
            <div>
                <div>
                    <div class="btn-info">
                        <h3 class="textmore">TIN TỨC ĐỌC NHIỀU NHẤT</h3>
                    </div>

                    <div id="news" ng-repeat="tintucnhieu in tintucnhieus">

                        <a ui-sref="about.readtintuc({id: '{{tintucnhieu.id}}'})">
                            <p id="titlett"><span>&#x2614</span> {{tintucnhieu.TieuDe}}</p>
                        </a>



                        <div class="row" id="hovereffect" class="col-sm-6" id="containnew" style="padding-bottom: 5px; ">

                            <img class="col-sm-5" id="imgttn" src="./public/tintuc/{{tintucnhieu.Hinh}}">


                        </div>
                        <div>

                            <p>{{tintucnhieu.TomTat}}</p>

                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="col-sm-8">
            <div class="col-sm-8">
                <div class="col-sm-12">


                    <h3 class="text-danger">TIN TỨC HOT</h3>
                    <div id="news" ng-repeat="tintuchot in tintuchots">
                        <div class="row" class="col-sm-6" id="containnew" style="padding-bottom: 5px; ">
                            <img class="col-md-2" id="img" src="./public/tintuc/{{tintuchot.Hinh}}">
                            <div class="col-md-6 ">
                                <label id="titlett"><span>&#x2614</span> {{tintuchot.TieuDe}}</label>
                                <p >{{tintuchot.TomTat}}</p>
                                <a ui-sref="about.readtintuc({id: '{{tintuchot.id}}'})" class="btn btn-danger">Read now
                                    !</a>
                            </div>

                        </div>

                    </div>
                    <hr>

                </div>
                <hr>

                <div class="col-sm-12">



                    <h3 class="text-info">TIN TỨC MỚI</h3>
                    <div id="news" ng-repeat="tintucmoi in tintucmois">
                        <div class="row" class="col-sm-6" id="containnew" style="padding-bottom: 5px; ">
                            <img class="col-md-2" id="img" src="./public/tintuc/{{tintucmoi.Hinh}}">
                            <div class="col-md-6 ">
                                <label id="titlettnew"><span>&#x2614</span> {{tintucmoi.TieuDe}}</label>
                                <p>{{tintucmoi.TomTat}}</p>
                                <a ui-sref="about.readtintuc({id: '{{tintucmoi.id}}'})" class="btn btn-info">Read now !</a>
                            </div>

                        </div>

                    </div>



                </div>





            </div>
            <div class="col-sm-4">
                <h3 class="text-info">CÓ GÌ HÔM NAY?</h3>
                <div class="hovereffect">
                    <img class="img-responsive" src="./public/slide/asd.jpg" alt="">
                    <div class="overlay">
                        <h2>THỬ NGAY ĐI</h2>
                        <a class="info" href="#">SHOPP NOW!</a>
                    </div>
                </div>
                <br>
                <div id="nvhn">
                    <div class="btn-success">

                        <h3 class="textright">NHÂN VẬT HÔM NAY</h3>
                    </div>
                    <div>
                        <p>Ten: Le Tuan Kiet</p>
                        <p>Trinh do: oc cho vkl :))</p>
                        <p>Cong ty: Hanbiro</p><br>

                    </div>
                </div>



            </div>


        </div>
    </div>
    <style>
        #nvhn {
            border-style: solid;

            border-color: rgb(71, 167, 62);

        }

        #titlemenu {
            background-color: #AAAAAA;


        }

        #textmenu {
            color: #FFf;
        }

        #img {
            width: 200px;
            height: 150px;
            border-radius: 0.7em;
            margin: 5px;
        }

        #imgttn {
            width: 250px;
            height: 200px;
            border-radius: 0.7em;
            margin: 5px;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        #imgttn:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            transition: 0.5s;
        }

        #news {
            border-style: double;

            border-color: #AAAAAA;
            border-radius: 0.5em;
            margin: 10px;
            transition:  0.7s;
        }

        #news:hover {
            border-color: #00EE00;
            -webkit-transform: scale(2.3);
            transform: scale(1.1);

        }

        #titlett {
            color: green;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: inherit;
            font-size: 13px;
        }

        #titlettnew {
            color: 'text-info';
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: inherit;
            font-size: 13px;
        }

        #containnew {
            display: -webkit-flex;
            /* Safari */
            -webkit-align-items: center;
            /* Safari 7.0+ */
            display: flex;
            align-items: center;
        }

        .textmore {
            color: #FFf;
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif
        }

        .hovereffect {
            width: 100%;
            height: 100%;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;

        }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;

            width: 300px;

        }

        .hovereffect h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0, 0, 0, 0.6);
            -webkit-transform: translatey(-100px);
            -ms-transform: translatey(-100px);
            transform: translatey(-100px);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 10px;
        }

        .hovereffect a.info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin: 50px 0 0;
            padding: 7px 14px;
        }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }

        .hovereffect:hover img {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .hovereffect:hover h2,
        .hovereffect:hover a.info {
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-transform: translatey(0);
            -webkit-transform: translatey(0);
            transform: translatey(0);
        }

        .hovereffect:hover a.info {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }

        .textright {
            font-size: 22px
        }
    </style>